<%= form_with model: @city do |form| %>
 
   <div class="mb-3 row">
  <%= form.label :country, class:"col-sm-2 col-form-label" %>
  <div class = "col-lg-9">
   <%= form.collection_select :country_id, Country.order(:name), :id, :name, { prompt: 'Select a Country' }, {id: 'country-select', class: "form-select" } %>
  </div>
  <% @city.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
  <% end %>
  </div>

   <div class="mb-3 row">
  <%= form.label :state, class:"col-sm-2 col-form-label" %>
  <div class = "col-lg-9">
    <%= form.collection_select :state_id, State.order(:name), :id, :name, { prompt: 'Select a State' }, { id: 'state-select', class: "form-select" } %>
  </div>
  <% @city.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
  <% end %>
  </div>

   <div class="mb-3 row">
    <%= form.label :name, class:"col-sm-2 col-form-label" %>
    <div class = "col-lg-9">
    <%= form.text_field :name, class:"form-control" %>
  </div>
    <% @city.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3 row">
    <%= form.label :active, class:"col-sm-2 col-form-label" %>
    <div class = "col-lg-9">
    <%= form.check_box :is_active, class:"mb-2 form-check-input" %><br>
  </div>
    <% @city.errors.full_messages_for(:is_active).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

<script>

   document.addEventListener('DOMContentLoaded', function() {
                    var countrySelect = document.getElementById('country-select');
                    var stateField = document.getElementById('state-field');
                    var stateSelect = document.getElementById('state-select');
                    var states = <%= raw State.all.group_by(&:country_id).to_json %>;
                    countrySelect.addEventListener('change', function() {
                        var selectedCountryId = this.value;
                        if (selectedCountryId !== '') {
                            stateSelect.innerHTML = '';
                            states[selectedCountryId].forEach(function(state) {
                                var option = document.createElement('option');
                                option.value = state.id;
                                option.text = state.name;
                                stateSelect.appendChild(option);
                            });
                            stateField.style.display = 'block';
                        } else {
                            stateField.style.display = 'none';
                        }
                    });
                });
   
 </script>
  <div>
    <%= form.submit"Create City", class:"btn btn-primary mt-2 mb-2" %>
  </div>
<% end %>
